Repository artcom/cheminova-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Change timeline styling
  src/components/FutureTimeline/styles.js
Due: eslint --cache --fix, prettier --write

Convert hardcoded pixel units to rem and implement responsive sizing with `min()` and viewport units.
  src/components/JanitorLogbook/JanitorLogbook.jsx
  src/components/JanitorLogbook/LogbookCard.jsx
  src/components/JanitorLogbook/LogbookStack.jsx
Due: eslint --cache --fix, prettier --write

Reduce Janitor Logbook component sizes, spacing, and font sizes for a more compact UI.
  src/components/JanitorLogbook/JanitorLogbook.jsx
  src/components/JanitorLogbook/LogbookCard.jsx
  src/components/JanitorLogbook/LogbookStack.jsx
Due: eslint --cache --fix, prettier --write

Update gallery
  src/components/Gallery/Gallery.jsx
  src/components/Gallery/components/GalleryContent.jsx
  src/components/Gallery/components/StackBump.jsx
  src/components/Gallery/config.js
  src/components/Gallery/helpers.js
  src/components/Gallery/utils.js
  src/i18n/locales/en.json
Due: eslint --cache --fix, prettier --write

Remove context route
  src/components/Welcome/Steps/WelcomeContext.jsx
  src/components/Welcome/Steps/WelcomeIntro.jsx
  src/routes.js
Due: eslint --cache --fix, prettier --write

Adjust delete button
  src/components/PhotoCapture/TaskCards.jsx
  src/components/PhotoCapture/styles.js
  src/components/UI/IconButton.jsx
Due: eslint --cache --fix, prettier --write

Update font sizes to `rem` units and add `max-width` property.
  src/components/FutureTimeline/styles.js
  src/components/JanitorLogbook/JanitorLogbook.jsx
Due: eslint --cache --fix, prettier --write

Add max hight and scroll
  src/components/FutureTimeline/styles.js
Due: eslint --cache --fix, prettier --write

Fix audit
  package-lock.json
Due: prettier --write

1.0.0
  package-lock.json
  package.json
Due: prettier --write

Add bottom padding
  src/components/UI/Navigation.jsx
Due: eslint --cache --fix, prettier --write

1.0.1
  package-lock.json
  package.json
Due: prettier --write

1.0.2
  package-lock.json
  package.json
Due: prettier --write

Fix localization
  src/components/JanitorLogbook/JanitorLogbook.jsx
  src/components/Welcome/components/IntroLanguageChooser.jsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
Due: eslint --cache --fix, prettier --write

Improve language switching
  src/components/Welcome/Steps/WelcomeLanguage.jsx
  src/components/Welcome/WelcomeLayout.jsx
  src/components/Welcome/components/IntroLanguageChooser.jsx
Due: eslint --cache --fix, prettier --write

1.0.3
  package-lock.json
  package.json
Due: prettier --write

Extract application bootstrap logic
  src/bootstrap.jsx
  src/entry.client.jsx
Due: eslint --cache --fix, prettier --write

Update API config to use runtime values
  .gitignore
  src/api/config.js
Due: eslint --cache --fix, prettier --write

Ignore local configuration file
  .gitignore
Due: none

Add GitHub Action to build and package frontend
  .github/workflows/build.yml
Due: prettier --write

1.0.4
  package-lock.json
  package.json
Due: prettier --write

Remove build workflow
  .github/workflows/build.yml
Due: prettier --write

Add release automated workflow
  .github/workflows/release.yml
Due: prettier --write

Document backend configuration
  README.md
Due: prettier --write

1.0.5
  package-lock.json
  package.json
Due: prettier --write

Refactor configuration to load from config.json
  src/api/config.js
  src/entry.client.jsx
Due: eslint --cache --fix, prettier --write

Serve config.json via Vite proxy
  vite.config.js
Due: eslint --cache --fix, prettier --write

Document runtime configuration
  README.md
Due: prettier --write

Cleanup
  src/components/Ending/Ending.jsx
Due: eslint --cache --fix, prettier --write

Update package-lock
  package-lock.json
Due: prettier --write

For dev use root path config.json
  src/entry.client.jsx
Due: eslint --cache --fix, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

1.0.6
  package-lock.json
  package.json
Due: prettier --write

Genericize monument texts and exploration facts
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
Due: prettier --write

Replace internal La Nau keys with generic monument references
  src/components/Gallery/UploadedImagesGallery.jsx
  src/components/Gallery/useGalleryFilter.js
  src/components/PhotoCapture/usePhotoCaptureData.js
  src/components/PhotoCapture/usePhotoTasks.js
Due: eslint --cache --fix, prettier --write

1.0.7
  package-lock.json
  package.json
Due: prettier --write

Bump version to 1.0.8
  package-lock.json
  package.json
Due: prettier --write

Fix locale switching and welcome translations
  src/components/Welcome/components/IntroLanguageChooser.jsx
  src/i18n/config.js
  src/i18n/index.js
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
Due: eslint --cache --fix, prettier --write

chore: modernize frontend tooling
  eslint.config.js
  package-lock.json
  package.json
  vite.config.js
Due: eslint --cache --fix, prettier --write

chore(release): 1.0.9
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx}
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md,yml})
