Repository artcom/cheminova-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --cache --fix", "prettier --write"],
  "*.{json,css,md,yml}": ["prettier --write"]
}

Format files
  .github/workflows/release.yml
  README.md
  src/i18n/locales/it.json
Due: prettier --write

1.0.10
  package-lock.json
  package.json
Due: prettier --write

Add Greek and Ukrainian locales
  src/i18n/config.js
  src/i18n/index.js
  src/i18n/locales/el.json
  src/i18n/locales/uk.json
Due: eslint --cache --fix, prettier --write

1.0.11
  package-lock.json
  package.json
Due: prettier --write

Rename reflection to ending and add survey page
  README.md
  src/components/JanitorLogbook/JanitorLogbook.jsx
  src/components/Survey/Survey.jsx
  src/experience/pageRegistry.js
  src/utils/cmsHelpers.js
Due: eslint --cache --fix, prettier --write

Follow flow links when walking the page tree
  src/components/JanitorLogbook/JanitorLogbook.jsx
  src/experience/pageRegistry.js
  src/experience/tree.js
  src/routes/ExperiencePage.jsx
Due: eslint --cache --fix, prettier --write

Proxy /cms through the dev server
  vite.config.js
Due: eslint --cache --fix, prettier --write

Answer Chrome's DevTools probe with a plain 404
  vite.config.js
Due: eslint --cache --fix, prettier --write

1.1.0
  package-lock.json
  package.json
Due: prettier --write

Load config.json from an absolute URL
  README.md
  src/api/config.js
  src/entry.client.jsx
Due: eslint --cache --fix, prettier --write

1.1.1
  package-lock.json
  package.json
Due: prettier --write

Simplify janitor background overlay with a linear-gradient
  src/components/Introduction/styles.js
Due: eslint --cache --fix, prettier --write

1.1.2
  package-lock.json
  package.json
Due: prettier --write

Render CMS rich text instead of stripping it
  src/components/ChooseOption/ChooseOption.jsx
  src/components/Ending/Ending.jsx
  src/components/Exploration/Exploration.jsx
  src/components/Introduction/Introduction.jsx
  src/components/Perspective/Perspective.jsx
  src/components/PhotoCapture/TaskCards.jsx
  src/components/PhotoCapture/styles.js
  src/components/Survey/Survey.jsx
  src/components/UI/CharacterNarrativeStyles.js
  src/components/UI/Description.jsx
  src/components/UI/RichText.jsx
  src/components/UI/richTextOrNull.jsx
  src/components/UI/richTextStyles.js
  src/components/Upload/Upload.jsx
  src/components/Welcome/Steps/CharacterOnboarding.jsx
  src/components/Welcome/Steps/CharacterSelection.jsx
  src/components/Welcome/Steps/WelcomeIntro.jsx
  src/utils/richText.jsx
  src/utils/text.js
Due: eslint --cache --fix, prettier --write

Draw the choice cards from the pages they lead to
  src/components/ChooseOption/ChooseOption.jsx
  src/experience/nodeImages.js
  src/routes/ExperiencePage.jsx
Due: eslint --cache --fix, prettier --write

1.1.3
  package-lock.json
  package.json
Due: prettier --write

Add build.json to release artifacts
  .github/workflows/release.yml
Due: prettier --write

1.1.4
  package-lock.json
  package.json
Due: prettier --write

Make the API base URL relative
  config.json.template
  src/components/Gallery/helpers.js
Due: eslint --cache --fix, prettier --write

Rewrite absolute CMS media URLs in development
  README.md
  src/api/djangoApi.js
  src/api/normalizeCmsUrls.js
  src/components/FutureTimeline/useFutureTimelineImages.js
  src/components/Gallery/helpers.js
  src/components/Gallery/useGalleryImages.js
  src/components/JanitorLogbook/useJanitorLogbookImages.js
Due: eslint --cache --fix, prettier --write

Use the Figma paper texture for the artist card
  src/components/UI/CharacterNarrativeStyles.js
  src/components/UI/assets/paperTexture.jpg
Due: eslint --cache --fix, prettier --write

Soften the character content card borders
  src/components/UI/CharacterNarrativeStyles.js
Due: eslint --cache --fix, prettier --write

1.1.5
  package-lock.json
  package.json
Due: prettier --write

Increase CharacterHeadline line-height to fix overlapping
  src/components/UI/CharacterNarrativeStyles.js
Due: eslint --cache --fix, prettier --write

Make ChooseOption background consistent with other pages
  src/components/ChooseOption/ChooseOption.jsx
Due: eslint --cache --fix, prettier --write

Adjust font style of ChooseOption page
  src/components/ChooseOption/ChooseOption.jsx
Due: eslint --cache --fix, prettier --write

Update the artist paper texture from Figma
  src/components/UI/assets/paperTexture.jpg
Due: none

1.1.6
  package-lock.json
  package.json
Due: prettier --write

Fix CardImage position to show avatar face
  src/components/ChooseOption/ChooseOption.jsx
Due: eslint --cache --fix, prettier --write

1.1.7
  package-lock.json
  package.json
Due: prettier --write

1.1.8
  package-lock.json
  package.json
Due: prettier --write

Fix raw i18n key shown as photo task label
  src/components/PhotoCapture/usePhotoTasks.js
  src/i18n/locales/de.json
  src/i18n/locales/el.json
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/i18n/locales/uk.json
Due: eslint --cache --fix, prettier --write

Fix captured photos carrying over into the next run
  eslint.config.js
  src/components/Ending/Ending.jsx
  src/components/Survey/Survey.jsx
  src/routes/CharacterScope.jsx
Due: eslint --cache --fix, prettier --write

1.1.9
  package-lock.json
  package.json
Due: prettier --write
